[Unit]
Description=Rainwave Discord Streamer Bot
Wants=network.target

[Service]
Type=simple
User=rmcauley
Group=users
WorkingDirectory=/home/rmcauley/rainwave-discord-streamer
ExecStart=/usr/bin/env pipenv run ./start.py

[Install]
WantedBy=multi-user.target
